<div *ngIf="!me" >
  <h1>google</h1>
  <button (click)="googleLogin()">login</button>
</div>

<div *ngIf="me">
  <h2>{{me.displayName}} ({{me.email}})</h2>
  <img src="{{me.photoURL}}" alt="">
</div>

<hr>
<hr>
<hr>
<hr>
<hr>
<form >
  <label>
    <input type="text" [(ngModel)]="token" name="name">
  </label>
  <button (click)="getMe()">getMe</button>
</form>


<pre *ngIf="hero">
  {{ hero.result.first_name | json}}
</pre>


<div class="content-wrapper">
  <button (click)="newTask()">
     Add Task
  </button>

  <app-task *ngFor="let task of todo | async" [task]="task"></app-task>


  <div *ngFor="let task of todo | async">
    {{ task | json}}
  </div>
</div>
